:root {
  font-size: 100%;
  /* martins default em, haha */ }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; }

body {
  color: #123456;
  padding: 10vw; }

h1 {
  color: #123456;
  font-size: 2em; }

section {
  display: grid;
  grid-template-columns: repeat(3, 4vw);
  grid-template-rows: repeat(3, 4vw);
  border: none; }

select {
  display: grid;
  grid-template-columns: repeat(3, 1.33333vw);
  grid-template-rows: repeat(3, 1.33333vw);
  border: none;
  font-size: 1.7em; }

form {
  display: grid;
  grid-template-columns: repeat(3, calc( (4vw + 5px) * 3));
  grid-template-rows: repeat(3, calc( (4vw + 5px) * 3));
  grid-gap: 20px; }

.dup-col {
  color: red; }

.dup-row {
  color: green; }

.dup-cell {
  color: blue; }
