@import "init";

body {
  color: $main-color;
  padding: 10vw;
}
h1 {
  color: $main-color;
  font-size: 2em;
}
section {
  display: grid;
  grid-template-columns: repeat(3, $one-piece-size);
  grid-template-rows: repeat(3, $one-piece-size);
  border: none;
}
select {
  display: grid;
  grid-template-columns: repeat(3, $one-piece-size/3);
  grid-template-rows: repeat(3, $one-piece-size/3);
  border: none;
  font-size: 1.7em;
}
form {
  display: grid;
  grid-template-columns: repeat(3, $one-piece-with-border);
  grid-template-rows: repeat(3, $one-piece-with-border);
  grid-gap: 20px;
}
.dup-col {
  color: red;
}
.dup-row {
  color: green;
}
.dup-cell {
  color: blue;
}
